
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
 @model X.PagedList.IPagedList<TDanhMucSp> 

@{
    ViewData["Title"] = "SanPhamTheoLoai";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}

@foreach (var item in Model)
{
    
  @await Html.PartialAsync("PartialSanPham",item);
    
    }

  <div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new { page = page , maloai= ViewBag.maloai }),
            new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        MaximumPageNumbersToDisplay = 5, // số lượng trang cần hiển thị
        LinkToPreviousPageFormat = "«",
        LinkToNextPageFormat = "»",
        UlElementClasses = new[] { "pagination" }
    })
</div>
